<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Photos Wallpaper</string>
	<key>CFBundleDisplayName</key>
	<string>Photos Wallpaper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GitCommit</key>
	<string>$(GIT_COMMIT)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Rose Hill Solutions</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs Photos access so it can select images for wallpaper and add current wallpaper photos to the Photos Wallpaper album when you ask it to.</string>
</dict>
</plist>
